@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

.link {
  background: #4C3575;
  margin: 1rem 1rem;
  padding: .5rem 0;
  border-radius: .5rem;
}

ul, .link {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}

img {
  width: 40px;
}

a {
  display: block;
  text-decoration: none;
  color:#fafafa;
  margin: 0 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}

button {
  display: block;
  background: none;
  border: none;
  padding: 1rem 0;
  visibility: hidden;
  /* display: none; */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  a {
    display: none;
  }

  button {
    visibility: visible;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

